.post-main{
    width: 33%;
    padding: 20px;
    padding-top: 40px;
    float: left;
}
#post-container{
    max-width: 1440px;
    margin: auto;
}
.read-more{
    background: #3cee9f;
    padding: 10px;
}
.post-main h2{
    margin-top:20px;
    font-size: 24px;
    font-weight: 600;
}
.drop-us{
    background: #e2f8ff;
    padding: 30px;
    z-index: 9;
    display: flex;
    float: left;
    position: relative;
    margin-bottom: -60px;
    width: 98%;
    margin-left: 17px;
    margin-top:60px;
}
.drop-left{
    width: 72%;
    padding-left: 41px;
}
.drop-left h3{
    font-size: 34px;
    font-weight: 600;
}
.drop-btn{
  display: block;
  margin:auto;
  color: #000;
  background: #3cee9f;
  padding: 10px 35px;
   }
.drop-btn a{
    color:#000;
}